<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.scanqrcode" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TiBillet Scan</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <icon src="res/icon.png" />

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

<platform name="android">

    <!-- début pref test HTTP/S CORS -->

    <allow-navigation href="*" />
    <preference name="scheme" value="http" />
    <preference name="hostname" value="localhost" />
    <preference name="android-insecure-http" value="true" />

    <!-- FIN -->

    <preference name="AndroidXEnabled" value="true" />
    <preference name="GradlePluginGoogleServicesEnabled" value="true" />
    <preference name="SplashScreen" value="none" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />


    </platform>
    
</widget>
